body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Lato','Helvetica Neue','Source Sans Pro',Helvetica,Arial, sans-serif !important;
}
p {font-size: large}

.bootstrap-tags .tags {
    padding-left: 4px !important;
    padding-top: 4px !important;
}

.navbar-avatar {
    width: 40px;
    height: 40px;

    background-size: cover;

    background-position: center;

    border-radius: 50%;
}

a {
    color:#2C3E50 !important;
}