body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Lato','Helvetica Neue','Source Sans Pro',Helvetica,Arial, sans-serif !important;
}
p {font-size: large; margin-bottom: 0px !important;}
/*ul {margin-top: -20px;}*/

.bootstrap-tags .tags {
    padding-left: 4px !important;
    padding-top: 4px !important;
}

.navbar-avatar {
    width: 40px;
    height: 40px;

    background-size: cover;

    background-position: center;

    border-radius: 50%;
}

.post-date {
    color: #7B7C7E;
}

.ba-href[href]:hover {
    color: #18bc9c;
    text-decoration: none;
}

.ba-href[href] {
    color: #2c3e50;

}

.footer-href[href]:hover {
    color: #18bc9c;
    text-decoration: none;
}

.footer-href[href] {
    color: #7B7C7E;
}