couchbase {
  actorctx {
    timeout=10000
    execution-context {
      fork-join-executor {
        parallelism-factor = 4.0
        parallelism-max = 40
      }
    }
  }

  buckets = [
  {% for bucket in application.buckets %}
  {
    host="{{ application.couchbase_host }}"
    port="8091"
    base="pools"
    bucket="{{ bucket }}"
    pass="{{ couchbase.buckets[bucket].password }}"
  }
  {% endfor %}
  ]
}