@(user: Option[auth.SocialUser])(implicit request: RequestHeader, lang: Lang, env: securesocial.core.RuntimeEnvironment[auth.SocialUser])
@import auth.SocialUser

<!DOCTYPE html>

<html>
    @head()

    <body>
        @navbar(user)(None)(editMode = false)

        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("markdown.js"))'></script>
        <link rel='stylesheet' href='@routes.Assets.at("stylesheets/about.css")'/>


        <section class="fo-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <img class="img-responsive" src="@routes.Assets.at("images/nrol-octopus.png")" alt="">
                        <div class="intro-text">
                            <span class="name">Flying Octopus</span>
                            <hr class="star-light">
                            <span class="skills">[a blog about distributed systems, functional programming and all around]</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
            <!-- About Section -->
        <section class="success" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>About this blog</h2>
                        <hr class="star-light">
                    </div>
                </div>
                <div class="row  col-lg-12">
                    <ul class="skills-font">
                        <li>
                            The main purpose of this blog is knowledge sharing. Everyone knows how hard it is to
                            find proper documentation or how-to appropriate for one’s needs. Dealing with emerging
                            software domains, complex systems or bleeding edge technologies requires knowledge
                            exchange for growth of communities, faster problem solving and of course better
                            understanding of the field by the author
                        </li>
                        <li>
                            The blog is focused mainly on distributed systems and functional programming.
                            But how-tos are also published just for having a manual near at hand and not to bury
                            useful information in corporate wikis - knowledge opensourcing
                        </li>
                        <li>
                            Why octopus? In my opinion octopus is a great metaphor for a distributed system: it could
                            perform multiple heterogenous tasks in parallel in asynchronous manner. GitHub’s octocat
                            also influenced this metaphor a lot. Why is it flying? Because flying is fast and a good
                            system must be fast: have low latencies and high throughput rate
                        </li>
                    </ul>
                </div>
            </div>
        </section>

            <!-- Author Section -->
        <section id="author">
            <div class="container">
                <div class="row">
                    <div class="text-center">
                        <div>
                            <h2>About author</h2>
                            <hr class="star-light">
                            <span class="skills-font">In short: I’m a Scala hacker addicted to distributed systems and big data architectures development</span>
                        </div>

                        <img class="img-responsive" src="@routes.Assets.at("images/author_photo.png")" alt="">
                    </div>
                    <div class="row  col-lg-12">

                        <ul class="skills-font">
                            <li>
                                Software engineer with about 8 years experience, dealing with different kind of
                                systems from full-stack web development to heavily distributed platforms for RTB
                                and data analysis
                            </li>
                            <li>
                                Great fan of Scala despite its complexity. Scala gives a lot of ways to express
                                developer’s ideas in concise way which could hardly be achieved in most of
                                mainstream languages
                            </li>
                            <li>
                                Have got Ph.D. in Computer Science with dissertation “Mathematical modeling and
                                software implementation of semantic transformations for natural language search
                                queries"
                            </li>
                            <li>
                                I'm a startup engineer in that sense that I like challenges, non-trivial problems,
                                don't fear to use new technologies (really, why not if it solves my problem?) and
                                fall in programmer's high each time the product I've been working on launches
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </section>

        <!-- Contacts Section -->
        <section class="success" id="contacts">
            <div class="container">
                <div class="row">
                    <div class="text-center">
                        <div class="intro-text">
                            <h2>Contacts</h2>
                            <hr class="star-light">
                        </div>
                    </div>
                    <div class="row col-lg-12">

                        <ul class="skills-font">
                            <li>The fastest way to contact me is <a href="https://twitter.com/antonkirillov">Twitter</a></li>
                            <li>At <a href="https://plus.google.com/u/0/+AntonKirillov/posts/p/pub">Google+</a> I post links for interesting resources, articles and technologies</li>
                            <li>Detailed information about my experience available at <a href="https://www.linkedin.com/pub/anton-kirillov/27/387/79b">LinkedIn</a> profile</li>
                            <li>Feel free to clone this blog engine (pull requests appreciated though) from <a href="https://github.com/akirillov">GitHub</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </section>

        <hr>
        <div>
        @footer()
        </div>
    </body>

</html>