@(uid: Option[String], title: Option[String], body: Option[String], tags: Option[String])(user: Option[auth.SocialUser])(implicit request: RequestHeader, lang: Lang, env: securesocial.core.RuntimeEnvironment[auth.SocialUser])
@import auth.SocialUser
@import play.api.libs.json._
@import play.api.libs.json

<!DOCTYPE html>

<html>
    @head(None)

    <body>
        <link rel='stylesheet' href='@routes.Assets.at("stylesheets/external/sirtrevor/sir-trevor.css")'>
        <link rel='stylesheet' href='@routes.Assets.at("stylesheets/external/sirtrevor/sir-trevor-icons.css")'>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("underscore.js"))'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/external/eventable/eventable.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/external/sirtrevor/sir-trevor.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/external/bootstrap-tags/bootstrap-tags.js")'></script>
        <link rel='stylesheet' href='@routes.Assets.at("stylesheets/external/bootstrap-tags/bootstrap-tags.css")'>

        @navbar(user)(None)(editMode = true)
            <!-- Page Content -->
        <div class="container">
            <div class="page-header" id="banner" style="padding-top: 60px; margin-bottom: 0px;">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        @if(title.isDefined){
                            <input id="postTitle" type="text" class="form-control input-lg" value="@title.getOrElse("")">
                        } else {
                            <input id="postTitle" type="text" class="form-control input-lg" placeholder="Post Title">
                        }
                        <hr>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <div id="tag-list" class="tag-list"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <!-- Blog Post Content Column -->
                <div class="col-md-10 col-md-offset-1">
                    <form id="postForm">
                        <textarea id="postBody" class="js-sir-trevor-instance">@play.twirl.api.Html(body.getOrElse(""))</textarea>
                        <button type="submit" class="btn btn-default" style="margin-bottom: 30px; margin-top: 10px;">Submit</button>
                    </form>
                </div>

            </div>
        </div>

        @footer()

        <script>
            new SirTrevor.Editor({
                el: $("#postBody"),
                blockTypes: ["Text", "List", "Gist","Image", "Video"]
            });

            SirTrevor.setDefaults({
                uploadUrl: "/image"
            });

            SirTrevor.EventBus.on('block:create:new', function(){
                adjustFooter();
            });

            SirTrevor.EventBus.on('block:create:existing', function(){
                adjustFooter();
            });

            SirTrevor.EventBus.on('block:remove', function(){
                adjustFooter();
            });

            SirTrevor.EventBus.on('block:reorder:dropped', function(){
                adjustFooter();
            });


            SirTrevor.EventBus.on('formatter:hide', function(){
                adjustFooter();
            });
        </script>


        <script>
        $(document).ready(function(){

            $("#post-submit-button" ).click(function(){
                $("#postForm").submit();
            });

            $("form").submit(function(e) {
                e.preventDefault();
                sendPostToServer();
            });

            var postTags;

            @if(tags.isDefined){
                postTags = @{play.twirl.api.Html(tags.get)};
            }

            var tagsObject;

            //tag list population
            $.getJSON( "/taglist", function( data ) {
                tagsObject = $('#tag-list').tags({
                    tagData: postTags,
                    suggestions: data
                  });
                adjustFooter();
            });

            function sendPostToServer() {
                var postData = {
                    title : $ ( "#postTitle" ).val ( ),
                    data: jQuery.parseJSON($("#postBody").val())['data'],
                    tags: tagsObject.getTags()
                };

                $.ajax({
                        @if(uid.isDefined) {
                            url : "/post/@uid.get",
                            type: "PATCH",
                        } else {
                            url : "/post",
                            type: "POST",
                        }
                        data: JSON.stringify(postData),
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',
                        success: function(data){
                            window.location.href = "/post/"+data['pid'];
                        }
                    });
                }

                adjustFooter();
        });
        </script>
    </body>

</html>