<footer id="footer" class="container-fluid">
    <div class="row" style="border-top: solid lightgray 1px;">
        <div class="col-lg-12" style="color: #777777">
            <div class="pull-left" style="margin-bottom: 0">
                <a class="footer-href" href="/"><small>BLOGAWESOME</small></a>
                <span></span>
            </div>

            <div class="pull-right" style="margin-bottom: 0">
                <span><small><i class="fa fa-copyright"></i>Anton Kirillov</small></span>
            </div>

        </div>
    </div>
    <script>
    $(document).ready(function() {
        window.adjustFooter = function(){
            bodyHeight = $(".container").height() + $("header" ).height();
            vwptHeight = $(window).height() - $("#footer").height();


            if (vwptHeight > bodyHeight) {
                $("footer").css("margin-top",vwptHeight - bodyHeight);
            } else {
                $("footer").css("margin-top","auto");
            }
        }

        $( window ).resize(function() {
            adjustFooter();
        });

    });
    </script>
</footer>