@(snippet: Option[domain.Snippet])
@import domain.Snippet

<head>
    <title>Datastrophic</title>

    @play.twirl.api.Html(
        snippet.map(_.toHtml).getOrElse(
         """<meta property="og:image" content="@routes.Assets.at("images/favicon.png")" />
            |<meta property="og:title" content="Datastrophic" />
            |<meta property="og:description" content="Datastrophic: a blog about distributed systems and software engineering" />""".stripMargin
        )
    )

    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/external/login/login.css")'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/font-awesome.css"))'>
    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/main.css")'>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("html5shiv.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("respond.js"))'></script>
    @*-- Add More CSS here -- *@
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
</head>