@(user: Option[auth.SocialUser])(previews: List[domain.Preview], page: domain.PostPage)(implicit request: RequestHeader, lang: Lang, env: securesocial.core.RuntimeEnvironment[auth.SocialUser])

@import auth.SocialUser
@import domain.Preview
@import domain.PostPage

<!DOCTYPE html>

    <html>
        @head()

    <body>
        @navbar(user)(None)(editMode = false)

        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("markdown.js"))'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/external/gist-embed/gist-embed.js")'></script>

        <!-- Page Content -->
    <div class="container">

        <div class="page-header" id="banner">
            <div class="row">
                <div class="col-md-12">
                    <h1>Blog! <small>Finally my awesome blog is here!</small></h1>
                </div>
            </div>
        </div>

        <div class="row">

                <!-- Blog Entries Column -->
            <div class="col-md-12">
                    @for(preview <- previews){
                        <h2>
                            <a href="/post/@preview.id">@preview.title</a>
                        </h2>
                        <p>
                            @for(tag <- preview.tags){
                                <a href="/post/tag/@tag" class="label label-default">@tag</a>
                            }
                        </p>
                        <p><span class="glyphicon glyphicon-time"></span> Posted on @preview.datePublished</p>
                        <hr>
                        @for(block <- preview.blocks){
                            @{
                                block.`type` match {
                                    case "text" => {
                                            <p class="md-content">{block.data}</p>
                                    }
                                    case "image" => {
                                            <div style="text-align: center">
                                            <p class="md-content">![]({block.data})</p>
                                            </div>
                                    }
                                    case _ => {}
                                }
                            }
                        }
                        <a class="btn btn-primary" href="/post/@preview.id">continue <span class="glyphicon glyphicon-chevron-right"></span></a>
                        <hr>
                    }

                @if(page.next.isDefined || page.previous.isDefined){
                    <ul class="pager">
                        @page.previous.map { newer =>
                            <li class="previous pull-left"><a href="@newer">← Newer</a></li>
                        }
                        @page.next.map { older =>
                            <li class="next pull-right"><a href="@older">Older →</a></li>
                        }
                    </ul>
                }

            </div>

        </div>
            <!-- /.row -->

        <hr>

        @footer()

    </div>
        <!-- /.container -->
        <script>
        $(document).ready(function(){

                $( ".md-content" ).each(function( i ) {
                    var $self = $(this);
                    $self.replaceWith(markdown.toHTML($self.text()))
                });

         });
        </script>
    </body>

</html>
