@(user: Option[auth.SocialUser])(previews: List[domain.PostPreview], page: domain.ViewPage)(implicit request: RequestHeader, lang: Lang, env: securesocial.core.RuntimeEnvironment[auth.SocialUser])

@import auth.SocialUser
@import domain.PostPreview
@import domain.ViewPage

<!DOCTYPE html>

    <html>
        @head(None)

    <body>

        @navbar(user)(None)(editMode = false)

        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("markdown.js"))'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/external/gist-embed/gist-embed.js")'></script>

        <!-- Page Content -->
    <div class="container" style="min-height: 100%">

        <div class="page-header" id="banner">
                    &nbsp;
        </div>

        <div id="content" class="row">

                <!-- Blog Entries Column -->
            <div class="col-md-10 col-md-offset-1">
                    @for(preview <- previews){
                        <h1>
                            <a href="/post/@preview.id" class="ba-href">@preview.title</a>
                        </h1>
                        <p class="post-date"><small>
                            @preview.datePublished.toUpperCase on

                            @for(tag <- preview.tags){
                                <a href="/post/tag/@tag" class="ba-href">@tag</a>
                            }
                        </small></p>
                        <hr>
                        @for(block <- preview.blocks){
                            @{
                                block.`type` match {
                                    case "text" => {
                                            <p class="md-content">{block.data}</p>
                                    }
                                    case "image" => {
                                            <div style="text-align: center">
                                            <p class="md-content">![]({block.data})</p>
                                            </div>
                                    }
                                    case _ => {}
                                }
                            }
                        }
                        <a class="ba-href" href="/post/@preview.id"><i class="fa fa-arrow-circle-right fa-3x"></i></a>
                        <hr>
                    }

                @if(page.next.isDefined || page.previous.isDefined){
                    <ul class="pager">
                        @page.previous.map { newer =>
                            <li class="previous pull-left"><a href="@newer">← Newer</a></li>
                        }
                        @page.next.map { older =>
                            <li class="next pull-right"><a href="@older">Older →</a></li>
                        }
                    </ul>
                }

            </div>
        </div>
    </div>
        @footer()

        <script>
        $(document).ready(function(){

                $( ".md-content" ).each(function( i ) {
                    var $self = $(this);
                    $self.replaceWith(markdown.toHTML($self.text()))
                });


                adjustFooter();
         });

        </script>
    </body>

</html>
