@(loginForm: Form[(String,String)], errorMsg: Option[String] = None)(implicit request: RequestHeader, lang: Lang, env: securesocial.core.RuntimeEnvironment[auth.SocialUser])
@import auth.SocialUser

@import securesocial.core.IdentityProvider

@import securesocial.core.IdentityProvider
@import securesocial.core.providers.UsernamePasswordProvider
@import securesocial.core.AuthenticationMethod._
@import play.api.{Logger, Play}
@import helper._
@import play.api.Play

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">

        <title>Secret Place of Flying Octopus</title>
    </head>
    <body>

        <div class="container">


            <form class="form-signin mg-btm col-md-6">
                <h3 class="heading-desc">Login to Cutesy!</h3>

                <div class="social-box">
                    <ul class="nav nav-pills social-login">
                    @env.providers.values.map { provider =>
                        @if( (provider.authMethod == OAuth1 || provider.authMethod == OAuth2) && (provider.id == "facebook") ) {
                                <li>
                                    <a class="btn btn-block btn-social btn-lg btn-facebook" href="@env.routes.authenticationUrl(provider.id, Some("/"))">
                                        <i class="fa fa-facebook"></i>Войти через @provider.toString()
                                    </a>
                                </li>
                        }
                    }
                    </ul>
                </div>

                @errorMsg.map { msg =>
                    <div class="alert alert-danger">@Messages(msg)</div>
                }

                @request.flash.get("error").map { msg =>
                    <div class="alert alert-danger">@msg</div>
                }

            </form>

            @errorMsg.map { msg =>
                <div class="alert alert-error">
                    @Messages(msg)
                </div>
            }

            @request.flash.get("success").map { msg =>
                <div class="alert alert-info">
                    @msg
                </div>
            }
        </div>
    </body>
</html>
