@(implicit request: RequestHeader, lang: Lang, env: securesocial.core.RuntimeEnvironment[auth.SocialUser])



<!-- Login popup -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form>
                <h3 class="heading-desc">
                    <a href="" class="close pull-right" aria-hidden="true">×</a>
                    Login to leave comments</h3>
                <div class="social-box">
                    <div class="row mg-btm">
                        <div class="col-md-12">
                            <a href="@env.routes.authenticationUrl("facebook", Some("/"))" class="btn btn-primary btn-block">
                                <i class="fa fa-facebook visible-xs"></i>
                                <i class="icon-facebook"></i>    Login with Facebook
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="@env.routes.authenticationUrl("twitter", Some("/"))" class="btn btn-info btn-block" >
                                <i class="fa fa-twitter visible-xs"></i>
                                <i class="icon-twitter"></i>    Login with Twitter
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>