@(user: Option[auth.SocialUser])(implicit request: RequestHeader, lang: Lang, env: securesocial.core.RuntimeEnvironment[auth.SocialUser])


<!DOCTYPE html>

<html>
    @head()

    <body>
        @navbar(None)(None)(editMode = false)

        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("markdown.js"))'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/external/gist-embed/gist-embed.js")'></script>


        <!-- Page Content -->
        <div class="container">
            <div class="page-header" id="banner">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h1>This page doesn't exist yet, sorry</h1>
                    </div>
                </div>
            </div>

            <div class="row">

                    <!-- Blog Post Content Column -->
                <div class="col-md-10 col-md-offset-1">

                </div>

                </div>
            <hr>
          @footer()
        </div>
    </body>

</html>