@(post: domain.Post)(user: Option[auth.SocialUser])(implicit request: RequestHeader, lang: Lang, env: securesocial.core.RuntimeEnvironment[auth.SocialUser])
@import domain.Post
@import domain.DataBlock
@import auth.SocialUser

<!DOCTYPE html>

<html>
    @head()

    <body>
        @navbar(user)(Some(post))(editMode = false)

        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("markdown.js"))'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/external/gist-embed/gist-embed.js")'></script>
        <link rel='stylesheet' href='@routes.Assets.at("stylesheets/comments.css")'>

        <!-- Page Content -->
        <div class="container">
            <div class="page-header" id="banner">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h1>@post.title</h1>
                            <!-- Date/Time -->
                        <p><small>
                        @if(!post.tags.isEmpty){
                            <i class="fa fa-tags"></i>
                        }
                        @for(tag <- post.tags){
                            <a href="/post/tag/@tag" class="label label-default">@tag</a>
                        }
                        </small></p>
                        <p><small><span class="glyphicon glyphicon-time"></span> Posted on @post.displayedDate.getOrElse("...")</small></p>
                        <hr>
                    </div>
                </div>
            </div>

            <div class="row">

                    <!-- Blog Post Content Column -->
                <div class="col-md-10 col-md-offset-1">
                    @for(block <- post.body){
                        @if(block.`type` == "text") {
                            <p class="md-content">@{block.data}</p>
                        } 

                        @if(block.`type` == "gist") {
                            <code data-gist-id="@{block.data}"></code>
                        }

                        @if(block.`type` == "image") {
                            <div style="text-align: center">
                                <p class="md-content">![](@{block.data})</p>
                            </div>
                        }
                    }
                    <hr>
                </div>

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="widget">
                                <div class="panel-heading">
                                    <h3><small><i class="glyphicon glyphicon-comment"></i></small>&nbsp;&nbsp;&nbsp;Comments</h3>
                                </div>

                            <!-- Posted Comments -->
                            <div class="panel-body">
                                <ul class="list-group" id="comments">
                            <!-- Comment -->
                                </ul>
                            </div>

                            <div class="well-sm">
                                <h5>Leave a Comment:</h5>
                                    <div class="form-group">
                                        <textarea id="comment-text" class="form-control" rows="5"></textarea>
                                    </div>
                                @if(user.isDefined) {
                                    <button id="submit-comment" type="submit" class="btn btn-sm">Submit</button>
                                } else {
                                    <button data-toggle="modal" data-target="#loginModal" class="btn btn-sm">Login to leave comment</button>
                                }
                            </div>
                        </div>
                    </div>

                </div>
            <hr>
          @footer()
        </div>
        
        <script>
            $(document).ready(function() {

                $(".md-content" ).each(function(i){
                var $self = $(this);
                    $self.replaceWith(markdown.toHTML($self.text()))
                });

                @if(user.isDefined) {
                    window.viewerId = "@play.twirl.api.Html(user.get.id)"
                }


                $("#submit-comment" ).click(function(){

                    var commentData = {
                        body: $('#comment-text').val()
                        @if(user.isDefined) {
                            , authorPic : "@play.twirl.api.Html(user.get.profile.avatarUrl.getOrElse("http://placehold.it/80"))",
                            authorName : "@play.twirl.api.Html(user.get.profile.firstName.getOrElse("") + " " + user.get.profile.lastName.getOrElse(""))",
                            authorUid : "@play.twirl.api.Html(user.get.id)",
                            postId : "@play.twirl.api.Html(post.id.get)"
                        }
                    };

                    $.ajax({
                            url : "/comment",
                            type: "POST",
                    data: JSON.stringify(commentData),
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                        success: function(data){
                            $('#comment-text').val('')
                            displayComment(data)
                        }
                    });
                });

                function displayComment(comment){
                    var actionDiv = "";
                    if(window.viewerId === comment.authorUid){
                        actionDiv =  "<div id='actions-"+comment.id+"'class='pull-right'>"+
                            "<a id='edit-"+comment.id+"' href='javascript:editComment(\""+comment.id+"\");'>"+
                            "  <small><i class='fa fa-pencil-square-o'></i></small>"+
                            "</a>"+
                            "<a id='delete-"+comment.id+"' href='javascript:deleteComment(\""+comment.id+"\");'>"+
                            "    <small><i class='fa fa-trash-o'></i></small>"+
                            "</a>"+
                            "<a style='display: none;' id='done-"+comment.id+"' href='javascript:updateComment(\""+comment.id+"\");'>"+
                            "  <small><i class='fa fa-check-circle-o'></i></small>"+
                            "</a>"
                            "</div>"
                    }

                    var commentDiv = $(
                        "<li id='comment-"+comment.id+"'class='list-group-item'>"+
                        "<div class='row'>"+
                        "<div class='col-xs-2 col-md-1'>"+
                        "<img src='"+comment.authorPic+"' class='img-circle img-responsive'/></div>"+
                        "<div class='col-xs-10 col-md-11'>"+
                        "<div>"+
                        "<div class='mic-info'>"+
                        "<b>"+comment.authorName+"</b> <small>on "+ comment.displayedDate+"</small>"+
                        "</div>"+
                        "</div>"+
                        "<div id='"+comment.id+"' class='comment-text'>"+ comment.body +
                        "</div>"+ actionDiv +
                        "</div>"+
                        "</div>"+
                        "</li>"
                    );

                    $("#comments").append(commentDiv);
                }

                $.getJSON( "/comment/post/@{post.id.get}" , function( data ) {
                    $.each( data, function( key, comment ) {
                        displayComment(comment)
                    });
                });


                window.editComment = function(id){
                    var body = $("#"+id).text()
                    $("#"+id).replaceWith( "<div><textarea id='edit-text-"+id+"' class='form-control' rows='5'></textarea></div>" );
                    $("#edit-text-"+id).val(body)

                    $("#delete-"+id).toggle()
                    $("#edit-"+id).toggle()
                    $("#done-"+id).toggle()

                }

                window.updateComment = function(id){
                    var commentData = {
                            body: $('#edit-text-'+id).val(),
                            id: id
                        @if(user.isDefined) {
                            , authorPic : "@play.twirl.api.Html(user.get.profile.avatarUrl.getOrElse("http://placehold.it/80"))",
                            authorName : "@play.twirl.api.Html(user.get.profile.firstName.getOrElse("") + " " + user.get.profile.lastName.getOrElse(""))",
                            authorUid : "@play.twirl.api.Html(user.get.id)",
                            postId : "@play.twirl.api.Html(post.id.get)"
                        }
                    }

                    $.ajax({
                        url : "/comment/"+id,
                        type: "PUT",
                        data: JSON.stringify(commentData),
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',
                        success: function(data){
                            $("#delete-"+id).toggle()
                            $("#edit-"+id).toggle()
                            $("#done-"+id).toggle()

                            $("#edit-text-"+id).replaceWith("<div id='"+id+"' class='comment-text'>"+ commentData.body +
                                "</div>")
                            }
                    })
                }

                window.deleteComment = function(id){
                    $.ajax({
                        url : "/comment/"+id,
                        type: "DELETE",
                        dataType: 'json',
                        success: function(data){
                            $("#comment-"+id ).remove()
                        }
                    });
                }
            });
        </script>
    </body>

</html>