@(post: domain.Post)(user: Option[auth.SocialUser])(implicit request: RequestHeader, lang: Lang, env: securesocial.core.RuntimeEnvironment[auth.SocialUser])
@import domain.Post
@import domain.DataBlock
@import auth.SocialUser

<!DOCTYPE html>

<html>
    @head()

    <body>
        @navbar(user)(Some(post))

        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("markdown.js"))'></script>

        <!-- Page Content -->
        <div class="container">
            <div class="page-header" id="banner">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h3>@post.title</h3>
                            <!-- Date/Time -->
                        <h6><span class="glyphicon glyphicon-time"></span> Posted on August 24, 2013 at 9:00 PM</h6>
                        <hr>
                    </div>
                </div>
            </div>

            <div class="row">

                    <!-- Blog Post Content Column -->
                <div class="col-md-10 col-md-offset-1">
                    @for(block <- post.body){
                        @{
                            block.`type` match {
                             case "text" => {
                                    <p class="md-content">{block.data}</p>
                            }
                             case "image" => {
                                 <div style="text-align: center">
                                    <p class="md-content">![]({block.data})</p>
                                 </div>
                            }
                             case _ => {}
                            }
                        }
                    }
                    <hr>

                        <!-- Blog Comments -->

                        <!-- Comments Form -->

                    <div class="well">
                        <h4>Leave a Comment:</h4>
                        <form role="form">
                            <div class="form-group">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>

                    <hr>

                        <!-- Posted Comments -->
                    @for(comment <- post.comments){
                        <!-- Comment -->
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://placehold.it/64x64" alt="">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Start Bootstrap
                                    <small>August 25, 2014 at 9:30 PM</small>
                                </h4>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                    }


                </div>


                </div>
            <hr>
          @footer()
        </div>
        
        <script>


            $( ".md-content" ).each(function( i ) {
                var $self = $(this);
                $self.replaceWith(markdown.toHTML($self.text()))
            });
        </script>
    </body>

</html>